{% block footer %}
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="w-auto p-3 navbar-dark bg-dark">
        <div class="container" >
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1 text-white">Бесплатная регистрация</h5>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-danger" type="button" href="#"  >
                        Зарегистрироваться!
                    </a>
                </li>
            </ul>
            <div class="footer-copyright text-center py-1 text-white">© 2020 Авторские права:
                <a href="https://github.com/KhayFix/webapp_crypto_flask" class="text-white"> KhayFix/github.com</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

